.add-recipe {
  small {
    font-size: 75%;
  }
  .btn-primary {
    &:focus {
      box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
    }
    &:hover {
      background-color: $primary;
      color: white;
      border-color: #ee3910;
    }
  }
  textarea {
    resize: none;
    width: 100%;
  }
  h2, h5, h6 {
    font-family: $font-family;
  }
}