header {
  background: $bg-color;

  nav {
    font-weight: bold;
    background: $bg-color;
    .nav-link {
      background: none;
      border: 0;
      font-weight: bold;
      cursor: pointer;
    }
    .navbar-icons {
      font-size: 1.7rem;
    }

    .navbar-brand {
      font-family: 'Lobster', serif;
      color: $primary !important;
      display: block;
      position: relative;
      width: 12rem;
      height: 5rem;
      transform: scale(0.6);
      transform-origin: 0 30%;

      &:hover {
        color: darken($primary, 10%) !important;
      }
      @media (min-width: 768px) {
        transform: scale(1);
        transform-origin: 0 0;
        margin-top: -20px;
      }

      span {
        letter-spacing: 3px;
        font-size: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, $primary 0%, $primary-lighten 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      span:nth-child(2) {
        top: 2.6rem;
        left: 1.6rem;
        font-size: 1.2rem;
      }

      span:nth-child(3) {
        top: 2.5rem;
        left: 2.5rem;
      }
    }

    .active {
      border-bottom: 3px solid #f05f40;
    }
  }

  .search-holder {
    background: #fff !important;
    font-size: 18px;

    .result-dropdown {
      position: absolute;
      width: 100%;
      cursor: pointer;
      overflow-y: auto;
      max-height: 300px;
      box-sizing: border-box;
      z-index: 1001;
      @media (max-width: 768px) {
        transform: scale(1);
        transform-origin: 0 0;
        margin-left: -15px;
      }

      li {
        display: block;
      }

      img {
        width: 50px;
        height: 40px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.50);
      }

      a {
        display: block;

        .fa-angle-right {
          color: transparent;
        }
      }

      .list-item:hover {
        .fa-angle-right {
          color: rgba(240, 95, 64, 1);
          transform: translateX(1rem);
          position: relative;
        }
        background-color: $bg-darken;
      }

      a:focus {
        background-color: $bg-darken !important;
        outline: none;

        .fa-angle-right {
          color: rgba(240, 95, 64, 1);
          transform: translateX(1rem);
          position: relative;
        }
      }
    }
  }

  .header__search {
    position: relative;


    i {
      position: absolute;
      top: calc(50% - 8px);
      font-size: 14px;
      left: 1rem;
      color: rgba(#444444, 0.67);
    }

    #searchBtn {
      position: absolute;
      top: calc(50% - 16px);
      font-size: 14px;
      right: 1rem;
      font-family: $font-family;
    }

    .form-control {
      border-radius: 0;
      border-right: 0;
      border-left: 0;
      margin: 1px;
      background: white;

      &:focus {
        border-color: darken(#ced4da, 20%);
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
