// Media object styles
.search-item {
  position: relative;
  .heart {
    position: absolute;
    top: 1rem;
    right:1.5rem;
    z-index:1000;
    cursor: pointer;
    color: $primary;
    border: 0;
    background: none;
    border-radius: 50%;
    font-size: 150%;
    outline: 0;
  }
}
.media {
  background-color: $bg-color;
  transition: all .3s ease;
  border-radius: 3px;
  .stars {
    background-color: rgba(255, 255, 255, 1);
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
    .fa-star {
      color: #ffc107;
      text-shadow: 1px 0 1px rgba(0,0,0,0.3);
    }
  }

  &:hover {
    background-color: $bg-darken;
    cursor: pointer;

    .media-img {
      transform: scale(1.05);
      opacity: 1;
    }

    .media-body {
      .width-heading {
        width:80%
      }

      .fa-angle-right {
        color: rgba(240, 95, 64, 1);
        transform: translateX(2rem);
      }
    }
  }

  .media-img {
    min-width: 6rem;
    width: 35%;
    height: 200px;
    object-fit: cover;
    opacity: 0.9;
    transition: all .3s ease;
  }

  .media-body {
    position: relative;
    .media-heading {
      font-family: $font-family;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
      transition: all .3s ease;
      width: 85%;
    }

    .fa-angle-right {
      color: rgba(240, 95, 64, 0);
      transition: all .3s ease;
    }

    .recipe-info-wrapper {
      width: 100%;
      p {
        font-size: 0.9rem;
        margin-top: 1.5rem;
      }
    }
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.pagination {
  a:hover {
    background: $bg-darken;
    color: $primary !important;
  }
  .disabled a {
    color: gray !important;
  }
  li .active {
    background: $primary;
    color: white !important;
  }
}

@media screen and (min-width: 768px) {
  .media {
    .media-body {
      .media-heading {
        font-size: 1.8rem;
      }
      .fa-angle-right {
        font-size: 2em;
      }
    }
  }
}


@media screen and (max-width: 1200px) {
  .media {
    .media-img {
      height: 180px;
    }
  }
}

@media screen and (max-width: 992px) {
  .media {
    .media-img {
      height: 120px;
    }
  }
}
@media screen and (max-width: 768px) {
  .media {
    .media-img {
      height: 150px;
    }
  }
}

@media screen and (max-width: 500px) {
  .media {
    .media-img {
      height: 100px;
    }
  }
}


.no-decoration-a-tag, .no-decoration-a-tag:hover {
  text-decoration: none;
  color: inherit;
}
