// Media object styles
.media {
  background-color: $bg-color;
  transition: all .3s ease;
  border-radius: 3px;

  &:hover {
    background-color: $bg-darken;
    cursor: pointer;

    .media-img {
      transform: scale(1.05);
      opacity: 1;
    }

    .media-body {
      .media-heading {

      }

      .fa-angle-right {
        color: rgba(240, 95, 64, 1);
        transform: translateX(1rem);
      }
    }
  }

  .media-img {
    min-width: 6rem;
    width: 35%;
    opacity: 0.9;
    transition: all .3s ease;
  }

  .media-body {
    .media-heading {
      font-family: $font-family;
      font-weight: 700;
      line-height: 1.2;
      color: #333;
      transition: all .3s ease;
    }

    .fa-angle-right {
      color: rgba(240, 95, 64, 0);
      transition: all .3s ease;
    }

    .recipe-info-wrapper {
      width: 100%;
      p {
        font-size: 0.9rem;
        margin-top: 1.5rem;
      }
    }
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .media {
    .media-body {
      .media-heading {
        font-size: 1.8rem;
      }
      .fa-angle-right {
        font-size: 2em;
      }
    }
  }
}

.no-decoration-a-tag, .no-decoration-a-tag:hover {
  text-decoration: none;
  color: inherit;
}
