@import url('https://fonts.googleapis.com/css?family=Lobster|Nunito:400,700');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}

main {
  flex-grow: 1;
}

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
}

input:focus, textarea:focus {
  outline-color: rgba(240,95,64,.9);
  box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
}

.vertical-align-middle {
  vertical-align: -webkit-baseline-middle;
}
.border-checkbox-hover{
  border: 1px solid $primary!important;
  background-color: #f7ae9f!important;
}
.border-checkbox:hover {
  span{
    border-color: $primary!important;
  }
}

.form-control, textarea {
  background:#efe9e6;
}
