@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

main {
  flex-grow: 1;
}

.form-control:focus {
  border-color: $primary;
  box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
}

input:focus, textarea:focus {
  outline-color: rgba(240,95,64,.9);
  box-shadow: 0 0 0 .2rem rgba(240,95,64,.5);
}
